.farmmanagement {
    height: 100%;
}
table tr td{
    cursor: pointer;
}

.custom-upgrade {
animation: upgrade 1s infinite;
display: flex;
}
@-moz-keyframes upgrade {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@-webkit-keyframes upgrade {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@-o-keyframes upgrade {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
@keyframes upgrade {
from {
    transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}
