.v-main__wrap {
    /* padding: 40px !important; */
    /* padding-top: 10px !important; */
    background-color: #FBFCFC !important;
}

.theme--light.v-tabs-items {
    background-color: #FBFCFC !important;
}
