@media (max-width: 1200px) {
  .solution_card_icon {
    display: none;
  }
}
@media (max-height: 800px) {
  .header_div {
    display: none;
  }
  .js_info .webix_template {
    padding: 10px !important;
    padding-top: 20px !important;
  }
}
@media (max-width: 1500px) and (min-width: 1400px) {
  .add-icon {
    font-size: 15px !important;
  }
  .solution_card_title,
  .solution_card_count {
    font-size: 18px !important;
  }
  .threebot_card_title {
    font-size: 24px !important;
  }
}
@media (max-width: 1400px) {
  .threebot_card_icon {
    display: none;
  }
  .add-icon {
    display: none;
  }
  .header_div {
    height: 130px !important;
  }
  .solution_card_title,
  .solution_card_count {
    font-size: 18px !important;
  }
  .solution_card_icon {
    height: 25px !important;
    width: 25px !important;
    margin-left: 5px !important;
    margin-top: 7px !important;
  }
}
.red_label {
  color: red;
}
.chart_label {
  background-color: transparent;
  border-style: none;
}
.chart_label .webix_template {
  color: #057781;
}
.wallet-warning {
  background: red;
  color: white;
  text-align: center;
  font-weight: bold;
}
.compo_ports {
  width: 100%;
  height: 100%;
  background-color: white;
}
.settings_header {
  background: #e4e4e6;
  color: #444852;
  font-weight: bold;
}
.webix_layout_clean {
  background-color: #e6e6e6 !important;
}
.graph_chart {
  border-radius: 15px;
  margin: 12px !important;
  margin-top: 0px !important;
  width: 98% !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-style: none !important;
}
.processes_chart_div .webix_view {
  margin-top: 0px !important;
  border-radius: 15px 15px 0px 0px;
}
.webix_view.webix_chart.processes_chart {
  border-radius: 0px 0px 15px 15px ;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.processes_table {
  width: auto !important;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.js_version {
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.header_div {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.header_image {
  width: 100%;
  min-height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.webix_layout_toolbar {
  border-width: 0px 0px 2px !important;
}
.js_info,
.threebot_cards {
  border-style: none;
}
.js_info .webix_template {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 12px;
  margin-top: 0px;
  height: 95%;
  padding: 0px;
  color: #4572b5;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #ffffff;
}
.threebot_name {
  padding-left: 15px;
}
.threebot_id {
  padding-left: 15px;
}
.threebot_cards .webix_dataview_inner_item {
  border-style: none;
  border-radius: 15px;
  background-color: #4572b5;
  height: 98% !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
/* dataview with qa cards */
.webix_dataview .webix_dataview_item.tiles .webix_dataview_inner_item {
  padding: 11px;
  line-height: 20px;
  font-size: 14px;
  color: #475466;
}
.solution_cards,
.threebot_cards,
.js_info {
  background-color: transparent;
  border: none;
}
.solution_cards .webix_dataview_inner_item {
  border-style: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.solution_card_icon {
  width: 35px;
  height: 35px;
  float: left;
  margin-left: 10px;
}
.solution_card_title {
  display: block;
  float: left;
  color: #4572b5;
  font-size: 20px;
  margin: 10px;
}
.solution_card_count {
  float: left;
  margin-top: 10px;
  font-size: 20px;
}
.add-icon {
  background-color: #4572b5;
  color: #ffffff;
  padding: 8px;
  border-radius: 30px;
  float: right;
  font-size: 20px;
}
.add-icon:hover {
  text-decoration: none;
  color: white;
}
/* dataview with qa cards */
.webix_dataview .webix_dataview_item.tiles .webix_dataview_inner_item {
  padding: 11px;
  line-height: 20px;
  font-size: 14px;
  color: #475466;
  border-style: none;
}
* {
  border-style: none;
}
.threebot_card_icon {
  width: 120px;
  height: 120px;
  float: left;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.threebot_card_title {
  font-weight: 500;
  display: block;
  color: #fdf9f9;
}
.threebot_card_info,
.threebot_card_info p {
  color: #fdf9f9;
  font-size: 18px;
}
/* notifications */
.notifications .webix_list_item {
  line-height: 20px;
  padding: 10px;
}
.notifications .webix_list_item .m_title {
  font-weight: 500;
  color: #313131;
}
.notifications .webix_list_item .message {
  display: block;
  color: #475466;
}
.webix_layout_space {
  border-style: none !important;
}
.btnCreateNew .webix_button {
  font-size: 18px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0482a1), color-stop(1, #01505e)) !important;
  color: #e6e6e6;
}
.webix_scroll_cont {
  background-color: transparent !important;
}
.webix_layout_space {
  height: 100% !important;
}
.solutions-list {
  overflow: auto !important;
  background-color: transparent !important;
  border-style: none !important;
  height: 80%;
}
.solutions-list .webix_dataview_item,
.solutions-list .webix_dataview_item.webix_selected {
  padding: 3px 2px;
  background-image: none;
  background-color: transparent;
  border-style: none;
}
.solutions-list .webix_dataview_item.webix_selected .overall {
  color: #0a49a8;
  background: -o-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
  background: -ms-linear-gradient(top, #DBFFB0 0%, #D0F4A4 100%);
}
.overall {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 8px;
  height: 100%;
  padding: 10px;
  color: #044a5f;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e9e9e9), color-stop(1, #d1d1d1));
  background: -o-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
  background: -ms-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
  background: -moz-linear-gradient(top, #edeff4 0%, #e1e4ea 100%);
  box-shadow: 0px 1px 1px #d4d7de;
  margin: 6px;
}
.title {
  overflow: hidden;
  font-weight: bold;
  float: left;
  font-size: 16px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.ip {
  text-align: right;
  padding: 10px;
  font-family: sans-serif;
}
.deployed-solution-icon {
  height: 130px !important;
  width: 130px !important;
}
.deployed-solution-logo-view {
  background-color: transparent !important;
  text-align-last: center !important;
  margin-top: 40px !important;
}
.webixappstart {
  opacity: 0;
}
.webixapp {
  transition: opacity 500ms;
  opacity: 1;
}
.webix_header.webix_dark .webix_template {
  text-align: center;
  line-height: 56px;
}
.avatar .mainphoto {
  border-radius: 25px;
  widows: 40px;
  height: 40px;
  position: relative;
  top: -4px;
}
.status {
  position: relative;
  top: -25px;
  left: 25px;
  font-size: 10px !important;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/*Dashboard*/
.currencies_list .webix_list_item {
  line-height: 60px;
}
.currencies_list .icon {
  float: left;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  text-align: center;
  font-size: 24px;
  margin-right: 16px;
  margin-top: 6px;
}
.currencies_list .value {
  font-size: 16px;
  font-weight: 500;
}
.currencies_list .delta {
  font-size: 16px;
  font-weight: 500;
  float: right;
  margin-right: 8px;
}
.currencies_list .delta.red {
  color: #FF5C4C;
}
.currencies_list .delta.green {
  color: #55CD97;
}
.reviews .img {
  float: left;
  margin-top: 18px;
  margin-right: 16px;
  height: 100%;
}
.reviews .img img {
  background-color: red;
  border-radius: 25px;
  height: 48px;
  width: 48px;
}
.reviews .text {
  margin-top: 10px;
}
.reviews .text .name {
  font-weight: 500;
  display: block;
}
.reviews .text .webix_icon.mdi-bookmark-check,
.reviews .text .webix_icon.mdi-bookmark-plus {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
}
.reviews .text .webix_icon.mdi-bookmark-check {
  color: #1CA1C1;
}
.reviews .text .webix_icon.mdi-bookmark-plus {
  color: #94A1B3;
}
.reviews .text .stars {
  width: 90px;
  margin-left: -4px;
  position: relative;
  top: -4px;
}
.reviews .text .star {
  margin-right: -3px !important;
  font-size: 16px !important;
}
.reviews .text .stars .star.gold {
  color: #FDBF4C;
}
.reviews .text .stars .star.grey {
  color: #94A1B3;
}
.reviews .text .date {
  color: #94A1B3;
  position: relative;
  top: -4px;
  margin-left: 8px;
}
.reviews .text .message {
  display: block;
  max-height: 48px;
  overflow: hidden;
  line-height: 22px;
  position: relative;
  top: -6px;
}
.reviews .text .tag {
  padding: 4px 10px;
  border-radius: 100px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.reviews .text .tag.New {
  background: #1CA1C1;
}
.reviews .text .tag.Pending {
  background: #55CD97;
}
.webix_tooltip.review_tooltip {
  width: 300px;
}
.stats .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding-top: 8px;
}
.stats .webix_list_item {
  padding: 2px 20px;
}
.progress_bar_element {
  background-color: #F4F5F9;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  margin-top: 5px;
  margin-bottom: 9px;
}
.progress_result {
  height: 100%;
  border-radius: 4px;
}
.progress_result.all {
  background: #1CA1C1;
}
.progress_result.first {
  background: #55CD97;
}
.progress_result.second {
  background: #FDBF4C;
}
.check_tree .webix_tree_branch_1 {
  padding: 4px;
}
.check_tree .webix_tree_checkbox {
  margin: 0 10px;
}
.check_tree .webix_scroll_cont > .webix_tree_leaves {
  padding: 16px 8px;
}
.check_tree .webix_tree_item.webix_selected {
  background: #ffffff !important;
}
.check_tree .webix_tree_item span.checked,
.check_tree .webix_tree_item.webix_selected span.checked {
  text-decoration: line-through;
}
.check_tree .webix_tree_item span,
.check_tree .webix_tree_item.webix_selected span {
  margin-left: 6px;
}
/* headers (templates) */
.webix_view.chart_header {
  text-align: center;
}
/* transactions grid */
.method {
  margin-bottom: -8px;
}
/* features grid */
.header_center,
.column_center {
  text-align: center;
}
.feature.webix_icon.wxi-plus-circle {
  color: #55CD97;
}
.feature.webix_icon.wxi-minus-circle {
  color: #DADEE0;
}
/* widgets grid */
.yellow {
  color: #FDBF4C;
}
.green {
  color: #55CD97;
}
.blue {
  color: #1CA1C1;
}
.custom_dark {
  background: #565B67;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}
.custom_dark .webix_template {
  line-height: 55px;
}
/* forms */
.radio_demo .webix_radio_option {
  margin-bottom: 20px;
}
.webix_view.form_photo > div {
  padding: 0px;
}
/*pivot*/
.webix_pivot_configure_toolbar .webix_el_label .webix_el_box,
.webix_pivot_configure_toolbar .webix_el_label {
  margin-right: 5px;
  overflow: visible;
}
.solutions-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  display: inline-block;
}
.btn_view {
  background-color: #057781;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  padding: 7px 14px;
}
.admin_sidebar {
  overflow: hidden !important;
}
.admin_sidebar:hover {
  overflow-y: scroll !important;
}
/********* Admin scrollbar ************/
.admin_sidebar::-webkit-scrollbar {
  width: 13px;
}
/* Track */
.admin_sidebar::-webkit-scrollbar-track {
  background: #565B67;
}
/* Handle */
.admin_sidebar::-webkit-scrollbar-thumb {
  background: #939499;
  border-radius: 6px;
  border: 3px solid #565B67;
}
/* Handle on hover */
.admin_sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/********* Admin scrollbar ************/

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2FwcC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/
