# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: js-sdk

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Gathering deps
        run: |
          sudo apt-get update
          sudo apt-get install -y git python3-pip python3-venv python3-setuptools tmux redis
          sudo pip3 install poetry
          sudo poetry run pip3 install pytest
      - name: Install
        run: |
          sudo poetry update
          sudo poetry install
      - name: Run tests
        run: |
          sudo poetry run pytest tests -s 
